.container {
  width: 100%;
  max-width: 2100px;
  margin-top: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.container h2 {
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.card {
  padding: 0.4rem;
  margin: 0.4rem;
  margin-left: 2rem;
  text-align: center;
}

.card h3 {
  margin: 0.4rem;
}

.card p {
  margin-top: 0.5rem;
}
